body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaedfa;
}

header {
  background-color: #1b078d;
  color: rgba(10, 24, 24, 0.932);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #142057;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #6fc4f5;
}

main {
  padding: 20px;
  font-family: Cambria;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th {
  border: 1px solid #974040;
}

th, td {
  padding: 10px;
  text-align: left;
}

img{
  max-width: 100%;
  height: 70%;
}

.custom-header {
  background-color: #1e3a8a; 

}


