body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #09194d;
}

header {
  background-color: #e6dada41;
  color: rgb(44, 86, 179);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #e7f1fc;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #440000;
}

main {
  padding: 20px;
  font-family: Cambria;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
  text-align: left;
}

img {
  max-width: 20%;
  height: auto;
}
